
@{
    ViewBag.Title = "Chấm công";
}


@section styles{
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    @*<link href="~/Content/alertifyjs/themes/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script>
        $.ajax({
            type: 'get',
            url: '/employee/getdata',
            success: function (res) {
                var data = res.data;
                var rendered = '';
                var template = $('#template').html();
                $.each(data, function (i, item) {
                    rendered += Mustache.render(template, {
                        Id: i + 1,
                        Name: item.Name,
                        PhoneNumber: item.PhoneNumber
                    });
                });
                $('#target').html(rendered);
            },
            cache: false,
            contentType: false,
            processData: false
        })

        $('#search').on('input', function (e) {
            $('#form').submit();
        })

        $('#form').on('submit', function (e) {
            e.preventDefault();

            var data = $('#search').val();
            console.log(data);

            $.ajax({
                type: 'post',
                url: '/employee/search?txtsearch=' + data,
                success: function (res) {
                    var data = res.data;
                    console.log(data);
                    var rendered = '';
                    var template = $('#template').html();
                    $.each(data, function (i, item) {
                        rendered += Mustache.render(template, {
                            Id: i + 1,
                            Name: item.Name,
                            PhoneNumber: item.PhoneNumber
                        });
                    });
                    $('#target').html(rendered);
                },
                cache: false,
                contentType: false,
                processData: false
            })
        })


        $(document).on('change', '.tv1', function () {
            var id = $(this).data('id');
            if (this.checked == true) {
                $('#goi1-' + id).prop('disabled', true);
                $('#ks1-' + id).prop('disabled', true);
                $('#note1-' + id).prop('disabled', true);

                $('#cf1-' + id).prop('disabled', true);
                $('#ht1-' + id).prop('disabled', true);
                $('#vt1-' + id).prop('disabled', true);
            }
            else {
                $('#goi1-' + id).prop('disabled', false);
                $('#ks1-' + id).prop('disabled', false);
                $('#note1-' + id).prop('disabled', false);

                $('#cf1-' + id).prop('disabled', false);
                $('#ht1-' + id).prop('disabled', false);
                $('#vt1-' + id).prop('disabled', false);
            }
        })
        $(document).on('change', '.tv2', function () {
            var id = $(this).data('id');
            if (this.checked == true) {
                $('#goi2-' + id).prop('disabled', true);
                $('#ks2-' + id).prop('disabled', true);
                $('#note2-' + id).prop('disabled', true);

                $('#cf2-' + id).prop('disabled', true);
                $('#ht2-' + id).prop('disabled', true);
                $('#vt2-' + id).prop('disabled', true);
            }
            else {
                $('#goi2-' + id).prop('disabled', false);
                $('#ks2-' + id).prop('disabled', false);
                $('#note2-' + id).prop('disabled', false);

                $('#cf2-' + id).prop('disabled', false);
                $('#ht2-' + id).prop('disabled', false);
                $('#vt2-' + id).prop('disabled', false);
            }
        })
        $(document).on('change', '.tv3', function () {
            var id = $(this).data('id');
            if (this.checked == true) {
                $('#goi3-' + id).prop('disabled', true);
                $('#ks3-' + id).prop('disabled', true);
                $('#note3-' + id).prop('disabled', true);

                $('#cf3-' + id).prop('disabled', true);
                $('#ht3-' + id).prop('disabled', true);
                $('#vt3-' + id).prop('disabled', true);
            }
            else {
                $('#goi1-' + id).prop('disabled', false);
                $('#ks1-' + id).prop('disabled', false);
                $('#note1-' + id).prop('disabled', false);

                $('#cf1-' + id).prop('disabled', false);
                $('#ht1-' + id).prop('disabled', false);
                $('#vt1-' + id).prop('disabled', false);
            }
        })

        $(document).on('click', '.delete', function (e) {
            e.preventDefault();
            var name = $(this).data('name');
            var id = $(this).data('id');

            alertify.confirm('Xác nhận xóa', 'Bạn muốn xóa ' + name + '?',
                function () {
                    $('#r-' + id).remove();
                    alertify.success('Đã xóa ' + name);
                }
                , function () {
                    alertify.error('Chưa xóa ' + name);
                }).set({ labels: { ok: 'Đồng ý', cancel: 'Hủy' }, padding: true });;
        })
    </script>

}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="/">chuongnh</a>*@
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form action="/home/phonenumberedit" id="form" enctype="multipart/form-data" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" name="txtsearch" id="search" placeholder="Nhập tên hoặc SĐT để tìm">
                </div>
                <button id="phonenumberedit" type="button" class="btn btn-default">
                    <i class="fa fa-download"></i> Xuất báo cáo
                </button>
            </form>
            <form action="" enctype="multipart/form-data" class="navbar-form navbar-right">
                <button id="home" type="button" class="btn btn-default" onclick=" window.location.href='/home' ">
                    <i class="fa fa-home"></i> Tính lương
                </button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<div class="container-fluid">
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Điện thoại</th>
                <th>Ca sáng (9:00)</th>
                <th>Ca chiều (14:00)</th>
                <th>Ca tối (18:00)</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody id="target"></tbody>
    </table>
</div>
<script id="template" type="x-tmpl-mustache">
    <tr id="r-{{Id}}">
        <td>{{Id}}</td>
        <td><b>{{Name}}</b></td>
        <td>{{PhoneNumber}}</td>
        <td>
            <form action="/home/phonenumberedit" id="form1-{{Id}}" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="number" class="form-control" name="goi1" id="goi1-{{Id}}" placeholder="Số gọi được">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="number" class="form-control" name="ks1" id="ks1-{{Id}}" placeholder="Số kick sales">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="tv1" data-id="{{Id}}" id="tv1-{{Id}}">Thử việc
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="cf1-{{Id}}">CF
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="ht1-{{Id}}">Hội thảo
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="vt1-{{Id}}">Viết Thư
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="note1" id="note1-{{Id}}" placeholder="Thông tin thêm">
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form action="/home/phonenumberedit" id="form2-{{Id}}" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="number" class="form-control" name="goi2" id="goi2-{{Id}}" placeholder="Số gọi được">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="number" class="form-control" name="ks2" id="ks2-{{Id}}" placeholder="Số kick sales">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="tv2" data-id="{{Id}}" id="tv2-{{Id}}">Thử việc
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="cf2-{{Id}}">CF
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="ht2-{{Id}}">Hội thảo
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="vt2-{{Id}}">Viết Thư
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="note2" id="note2-{{Id}}" placeholder="Thông tin thêm">
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form action="/home/phonenumberedit" id="form3-{{Id}}" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="number" class="form-control" name="goi3" id="goi3-{{Id}}" placeholder="Số gọi được">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="number" class="form-control" name="ks3" id="ks3-{{Id}}" placeholder="Số kick sales">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="tv3" data-id="{{Id}}" id="tv3-{{Id}}">Thử việc
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="cf3-{{Id}}">CF
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="ht3-{{Id}}">Hội thảo
                            </label>
                            <label>
                                <input type="checkbox" data-id="{{Id}}" id="vt3-{{Id}}">Viết Thư
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="note1" id="note3-{{Id}}" placeholder="Thông tin thêm">
                    </div>
                </div>
            </form>
        </td>
        <td>
            <a href="/emmployee/delete/{{Name}}" data-name="{{Name}}" data-id="{{Id}}" class="btn btn-danger btn-sm delete"><i class="fa fa-remove"></i> Xóa</a>
        </td>
    </tr>
</script>
