@{
    ViewBag.Title = "Tính lương";
}
@section styles{
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    @*<link href="~/Content/alertifyjs/themes/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/mustache.js"></script>
<script src="~/Scripts/tinhluong.controller.js"></script>
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-sm"  href="/">chuongnh</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form action="/home/upload" id="form" enctype="multipart/form-data" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="file" class="form-control" name="UploadedFile" id="UploadedFile">
                </div>
                @* <button type="submit" id="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Tải lên...</button>*@
                <button id="download" type="button" class="btn btn-default">
                    <i class="fa fa-download"></i> Tính lương
                </button>
                <button id="download1" type="button" class="btn btn-default">
                    <i class="fa fa-object-group"></i> Gộp theo tuần
                </button>
            </form>
            <form action="" enctype="multipart/form-data" class="navbar-form navbar-right">
                <button id="phone" type="button" class="btn btn-default" onclick=" window.location.href = '/home/phonenumber'">
                    <i class="fa fa-filter"></i> Lọc dữ liệu
                </button>
                @*<button id="download1" type="button" class="btn btn-primary">
                        <i class="fa fa-download"></i> Gộp theo tuần
                    </button>*@
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<div class="container-fluid">
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Điện thoại</th>
                <th>Ca sáng</th>
                <th>Công việc</th>
                <th>Ca chiều</th>
                <th>Công việc</th>
                <th>Ca tối</th>
                <th>Công việc</th>
                <th>Kick Sales</th>
            </tr>
        </thead>
        <tbody id="target"></tbody>
    </table>
</div>
<script id="template" type="x-tmpl-mustache">
    <tr>
        <td>{{Id}}</td>
        <td>{{HoTen}}</td>
        <td>{{DienThoai}}</td>
        <td>{{ThoiGian1}}</td>
        <td>{{Ca1}}</td>
        <td>{{ThoiGian2}}</td>
        <td>{{Ca2}}</td>
        <td>{{ThoiGian3}}</td>
        <td>{{Ca3}}</td>
        <td>{{KickSale}}</td>
    </tr>
</script>

