
@{
    ViewBag.Title = "Chuẩn hóa dữ liệu";
}

@section styles{
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    @*<link href="~/Content/alertifyjs/themes/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/chuanhoadulieu.controller.js"></script>

    @*<script>
        var pre = document.createElement('pre');
        //custom style.
        pre.style.maxHeight = "400px";
        pre.style.margin = false;
        pre.style.padding = false;
        pre.style.whiteSpace = "pre-wrap";
        pre.style.textAlign = "justify";
        pre.appendChild(document.createTextNode($('#la').text()));
        //show as confirm
        alertify.confirm('Hướng dẫn', pre, function () {
            //alertify.success('Accepted');
            //$('#la').hide();
        }, function () {
            //alertify.error('Declined');
        }).set({ labels: { ok: 'Tôi hiểu rồi', cancel: 'Chưa hiểu' }, padding: false });
    </script>*@
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="/">chuongnh</a>*@
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form action="/home/phonenumberedit" id="form" enctype="multipart/form-data" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="file" class="form-control" name="UploadedFile" id="UploadedFile">
                </div>
                <button id="phonenumberedit" type="button" class="btn btn-default">
                    <i class="fa fa-download"></i> Chuẩn hóa
                </button>
            </form>
            <form action="" enctype="multipart/form-data" class="navbar-form navbar-right">
                <button id="home" type="button" class="btn btn-default" onclick=" window.location.href = '/home'">
                    <i class="fa fa-home"></i> Tính lương
                </button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<div class="container-fluid">
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Điện thoại</th>
                <th>Địa chỉ</th>
            </tr>
        </thead>
        <tbody id="target"></tbody>
    </table>
</div>
<script id="template" type="x-tmpl-mustache">
    <tr>
        <td>{{Id}}</td>
        <td>{{HoTen}}</td>
        <td>{{DienThoai}}</td>
        <td>{{DiaChi}}</td>
    </tr>
</script>

<div id="la" hidden>

    <b>Chuẩn hóa dữ liệu là gì?</b>
    @*<p>Chuẩn hóa dữ liệu là 1 chức năng cho phép chỉnh sửa lại số điện thoại 1 cách tự động.</p>
    <p>VÍ DỤ: </p>
    <p>Tôi có 1 danh sách các số điện thoại theo định dạng</p>*@

</div>